.popup__container_type_image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  line-height: 0;
  transition: 1s ease-out;
  background-color: transparent;
}