.popup__occupation-input {
  width: 100%;
  margin-bottom: 48px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.popup__occupation-input {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.popup__name-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

